@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital@1&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');



body {
    margin: 0;
    background-color: #0A192F;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

nav li {
    margin-top: 2rem;
    text-decoration: none;
    list-style: none;
    color: #8892B0;
    padding-left: 1.8rem;
    font-weight: bold;
}

nav li a:hover {
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
}

nav li a{
    text-decoration: none !important;
    color: #8892B0;
}

.nav-decoration {
    color: #42A895
}

.resume-btn {
    background: none;
    border: none;
    outline: 1px solid #42A895;
    color: #42A895;
    padding: .5rem;
    border-radius: .3rem;
    font-weight: bold;
}

.resume-btn:hover {
    outline: 1px solid white;
    color: white;

}

.main-container{
    width: 100%;
    margin-top:16vmin;
    margin-bottom:15vmin;
    text-decoration: none;
}

.code-quotes{
    color: #51D4BA;
}

.main-container-first-line{
    color: #51D4BA  ;
    font-family: 'Roboto Mono', monospace;  
    text-align: center;
    font-size: 2rem;

}

.main-container-title{
    color: #CCD6F6;
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem; 
    text-align: center;

}

.main-container-subtitle{
    color: #8890B0;
    font-family: 'Roboto Mono', monospace;  
    font-size: 1.5rem; 
    text-align: center;
    margin-top:.5rem;
    text-decoration: none;
}

.main-container-description{
    font-family: 'Roboto Mono', monospace;  
    color: #8892B0;
    margin: 1rem;
    text-align: center; 
}

.blue{
    color: #57c3ea;
}

.green{
    color:#19c586;
}
